@import 'tailwindcss';
@import "tw-animate-css";

@theme {
  --color-primary : #D73A31; 
  --color-primary-foreground : #FFFFFF;

  --color-secondary : #F7F8FA;
  --color-secondary-foreground : #1F2430;

  --color-accent : #FAECEC;
  --color-accent-foreground : #C52020;

  --color-background : #FFFFFF;
  --color-foreground : #1F2430;

  --color-muted : #F7F8FA;
  --color-muted-foreground : #6B7280;

  --color-border : #E5E7EB;

  -- sidebar
  --color-sidebar: #FBFBFC;
  --color-sidebar-foreground: #353B48;

  --color-sidebar-primary: #D73A31;
  --color-sidebar-primary-foreground: #FFFFFF;

  --color-sidebar-accent: #F5F6F8;
  --color-sidebar-accent-foreground: #1F2430;

  --color-sidebar-border: #E7E9EC;
  --color-sidebar-ring: #D73A31;

}